/deep/ .filter-box {
  border: 2px solid #FFF;
  border-radius: 4px;
  box-shadow: 0px 4px 10px 0px rgba(86, 139, 193, 0.10);
  // background: url('../../assets/market_bg.jpg') rgba(242,246,249,1) 100% 100% no-repeat;
  background-size: contain;

  .bg-white {
    background: none;
  }

  .el-tabs--top .el-tabs__item.is-active {
    background-color: #fff;
  }
}

.vip-icon {
  vertical-align: middle;
}

.load-box {
  height: calc(100vh - 250px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-item {
  margin-top: 20px;
  border-radius: 4px;

  .list-img {
    width: 100%;
    height: 200px;
    border-radius: 4px;
    border: thin solid #f5f5f5;
  }

  .fs-b5 {
    margin-bottom: 2px;
  }

  .text-cut_two {
    color: var(--color-text-3, #86909C);
    height: 32px;

    img {
      margin-right: 10px;
    }
  }

  /deep/ .el-rate__icon {
    margin-right: 0;
  }

  .el-tag {
    border: none;

    &.normal {
      background-color: rgba(7, 193, 96, 0.1);
      color: #07C160;
    }

    &.is-expired {
      background-color: rgba(255, 163, 44, 0.1);
      color: #FFA32C;
    }

    &.expired {
      background-color: #F2F3F5;
      color: #86909C;
    }
  }
}

.sub {
  margin: 0 10px;
  color: var(--color-border-2, #E5E6EB);
}

.details_img {
  img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
  }
}

.details_list {
  min-width: 300px;
  margin-left: 40px;
  flex-shrink: 0;

  span {
    color: #86909C;
    width: 100px;
  }

  div {
    color: #1D2129;
    margin-top: 20px;
  }
}

.el-drawer {
  min-width: 500px !important;
}
.border_bottom{
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-border-2, #E5E6EB);
}
.border_bottom_de{
  border-bottom: 1px dashed var(--color-border-2, #E5E6EB);
  padding-bottom: 15px;
}
.red_color{
  color: #F53F3F !important;
}
.shop_box{
  position: relative;
}
.shop_box .und{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
}
.gg_width{
  width: 120px;
}
.shop_img {
  width: 120px;
  height: 120px;
  border-radius: 8px;
}

