/* 改变主题色变量 */
$--color-primary: #165DFF;
$--background-color-base: #F2F3F5;
$--border-color-extra-light: #F2F3F5;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";
@import '~element-ui/lib/theme-chalk/display.css';
@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './font.scss';

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  --red: #e54d42;
  --orange: #FF644F;
  --yellow: #FFA32B;
  --olive: #165DFF;
  --green: #07C160;
  /* --green: rgba(32, 172, 123, 1); */
  --cyan: #00D9EB;
  --blue: #0081ff;
  --purple: #6739b6;
  --mauve: #9c26b0;
  --pink: #e03997;
  --brown: #a5673f;
  --grey: #86909C;
  --black: #222222;
  --darkGray: #666666;
  --gray: #C9CDD4;
  --ghostWhite: #f1f1f1;
  --white: rgba(255,255,255,1);
  /* 浅色 */
  --redLight: #fadbd9;
  --orangeLight: #fde6d2;
  --yellowLight: #fef2ce;
  --oliveLight: rgba(60, 161, 254, 0.1);
  --greenLight: #d7f0db;
  --cyanLight: #d2f1f0;
  --blueLight: #cce6ff;
  --purpleLight: #e1d7f0;
  --mauveLight: #ebd4ef;
  --pinkLight: #f9d7ea;
  --brownLight: #ede1d9;
  --greyLight: #F2F3F5;
  --bodyBg: #F2F8FF;
  /* 渐变色 */
  --gradualRed: linear-gradient(45deg, #f43f3b, #ec008c);
  --gradualOrange: linear-gradient(45deg, #ff9700, #ed1c24);
  --gradualGreen: linear-gradient(45deg, #39b54a, #8dc63f);
  --gradualPurple: linear-gradient(45deg, #9000ff, #5e00ff);
  --gradualPink: linear-gradient(45deg, #ec008c, #6739b6);
  --gradualBlue: linear-gradient(45deg, #0081ff, #1cbbb4);
  /* 阴影透明色 */
  --ShadowSize: 6rpx 6rpx 8rpx;
  --redShadow: rgba(204, 69, 59, 0.2);
  --orangeShadow: rgba(217, 109, 26, 0.2);
  --yellowShadow: rgba(224, 170, 7, 0.2);
  --oliveShadow: rgba(124, 173, 55, 0.2);
  --greenShadow: rgba(48, 156, 63, 0.2);
  --cyanShadow: rgba(28, 187, 180, 0.2);
  --blueShadow: rgba(0, 102, 204, 0.2);
  --purpleShadow: rgba(88, 48, 156, 0.2);
  --mauveShadow: rgba(133, 33, 150, 0.2);
  --pinkShadow: rgba(199, 50, 134, 0.2);
  --brownShadow: rgba(140, 88, 53, 0.2);
  --greyShadow: rgba(114, 130, 138, 0.2);
  --grayShadow: rgba(114, 130, 138, 0.2);
  --blackShadow: rgba(26, 26, 26, 0.2);
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Inter,-apple-system,BlinkMacSystemFont,PingFang SC,Hiragino Sans GB,noto sans,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
  background: var(--bodyBg);
  font-size: 14px;
  line-height: 1.4;
  color: #4E5969;
}

ul,li{ padding: 0; margin: 0; list-style: none; }

label {
  font-weight: 400;
}


#app, .h-100{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

// /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  width: 8px;  /*滚动条宽度*/
  height: 8px;  /*滚动条高度*/
}
::-moz-scrollbar
{
  width: 8px;  /*滚动条宽度*/
  height: 8px;  /*滚动条高度*/
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius: 4px;  /*滚动条的圆角*/
  background-color: #e9e9ea;/*滚动条的背景颜色*/
}

::-moz-scrollbar-thumb
{
  border-radius: 4px;  /*滚动条的圆角*/
  background-color: #e9e9ea;/*滚动条的背景颜色*/
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    color: #dadbdc;
  }
}

//  定位
.rel{
  position: relative;
}

.abs{
  position: absolute;
}

.fixed{
  position: fixed;
}

.tfixed{
  top: 0;
  left: 0;
  width: 100%;
}

.bfixed{
  bottom: 0;
  left: 0;
  width: 100%;
}

.p-all {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// main-container global css
.app-container {
  padding: 20px;
}

.bg-white{
  background-color: #fff;
}

.bg-body{
  background-color: var(--greyLight);
  &.el-button{
		border-color: var(--greyLight);
  }
}

.m-auto{
  margin: 0 auto;
}

.block {
  display: block;
}

.dnone {
  display: none;
}

.inline {
  display: inline-block;
}

/*flex布局类*/
//水平均分对齐
.flexh-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//水平对齐
.flex {
  display: flex;
}

//垂直对齐
.flexv {
  @extend .flex;
  flex-direction: column;
}

.flex0 {
  flex: none;
}

.flex1, .flex-sub,.flex-1 {
  flex: 1;
  overflow: hidden;
}

// 两端对齐
.justify-between {
  justify-content: space-between;
}

// 分布对齐
.justify-around {
  justify-content: space-around;
}

.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-self: stretch;
}

.align-stretch.el-row::before {
  content: none !important
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

/*flex换行*/
.flex-wrap {
  flex-wrap: wrap;
}

.cursor{
  cursor: pointer;
}

.p-5 {
  padding: 5px;
}

.pl-5{
	padding-left: 5px;
}

.pr-5{
	padding-right: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.p-50 {
  padding: 50px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}
.pt-35 {
  padding-top: 35px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-50 {
  padding-top: 50px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-30 {
  padding-bottom: 30px;
}
.pb-35 {
  padding-bottom: 35px;
}
.pb-40 {
  padding-bottom: 40px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-50 {
  padding-left: 50px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-50 {
  padding-right: 50px;
}

.pb-30 {
  padding-bottom: 30px;
}

/*margin  */

.m-50 {
  margin: 50px;
}

.m-30 {
  margin: 30px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.ml-0 {
  margin-left: 0px !important
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-0{
   margin-right: 0;
}
.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-50 {
  margin-right: 50px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-0.el-tabs--card .el-tabs__header{
  margin-bottom: 0 !important;
}

.mtb-3 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.max-w{
  max-width: 100%;
}



/*字体  */
.fs-s1 {
  font-size: 10px;
}

.fs-s2 {
  font-size: 12px;
}

.fs-s3 {
  font-size: 13px;
}

.fs-s4 {
  font-size: 14px;
}

.fs-c {
  font-size: 15px;
}

.fs-c1 {
  font-size: 16px;
}

.fs-b1 {
  font-size: 17px;
}
.fs-a1 {
  font-size: 18px;
}
.fs-b2 {
  font-size: 20px;
}
.fs-b3 {
  font-size: 22px;
}
.fs-b4 {
  font-size: 24px;
}
.fs-b5 {
  font-size: 26px;
}

.text-bold {
  font-weight: bold;
}

.text-initial {
  font-weight: 500;
}

.white-space {
  white-space: nowrap;
}

.text-cut {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-nowrap{
  white-space: nowrap;
}

.text-cut_two{
  text-overflow: ellipsis; /*有些示例里需要定义该属性，实际可省略*/
  display: -webkit-box;
  -webkit-line-clamp: 2;/*规定超过两行的部分截断*/
  -webkit-box-orient: vertical;
  overflow : hidden;
  word-break: break-all;/*在任何地方换行*/
  max-height: 50px;
}

.text-line{
  text-decoration: line-through;
}

.text-blue{
  color: #409EFF;
}

.text-primary{
  color: var(--olive);
}

.text-white{
  color: white;
}

.text-black{
  color: #1D2129;
}

.text-danger{
  color: #F53F3F;
  &:hover{
    color: #e14a4a;
  }
}

.text-green{
  color: var(--green);
}

.text-gray{
  color: var(--gray);
}

.text-six{
  color: #666;
}

.text-grey{
  color: #86909C;
}

.line-1{
  line-height: 1;
}

.line-default{
  line-height: 1.5;
}

.line-six{
  line-height: 1.6;
}


.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.v-m{
  vertical-align: middle;
}

.o-v{
  overflow: hidden;
}

.l-b {
  border-bottom: solid #E5E6EB 1px;
}
.l-b-dashed {
  border-bottom: dashed #E5E6EB 1px;
}
.l-t {
  border-top: solid #E5E6EB 1px;
}
.l-r {
  border-right: solid #E5E6EB 1px;
}

.shadow-light{
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
}

.radius-5,.radius-5::after,.radius-5[class*="line"]::after{
  border-radius: 5px!important;
}

.radius-10,.radius-10::after,.radius-10[class*="line"]::after {
  border-radius: 10px!important;
}

.radius-15,.radius-15::after,.radius-15[class*="line"]::after {
  border-radius: 15px!important;
}

.el-button{
  border-radius: 2px;
}

.el-button--orange.is-plain, .el-button--primary.is-plain {
  color: $webColor;
  background: none;
  border-color: $webColor;
}
.el-button--primary.is-plain {
  color: $--color-primary;
  background: none;
  border-color: $--color-primary;
}
.el-button--orange {
  color: #ffffff;
  background: $webColor;
  border-color: $webColor;
}
.el-button--white.is-plain {
  color: #fff;
  background: none;
  border-color: #fff;
}

.btn-body{
  background-color: var(--greyLight);
  border-color: var(--greyLight);
  color: #86909C;
}

.first-indent{
  text-indent: 2em;
}

.el-image-viewer__close{
  color: #fff;
}

@media only screen and (min-width: 1200px){
  .el-col-lg-5{
    width: 20%;
  }
}

@media (max-width: 768px) {
  .el-dialog{
    width: 85% !important;
  }
}

.dialog-br{
  bottom: -160px;
  right: -160px;
  width: 252px;
  height: 252px;
  background-color: #C1D4FF;
  filter: blur(100px);
}

.tabs-right{
  height: 41px;
  line-height: 41px;
  border-bottom: 1px solid #E4E7ED;
}

.ptd-5.el-table{
  td {
    padding: 5px 0 !important;
  }
  .cell{
    padding: 0 5px;
  }
}
.el-button--primary.is-disabled{
  background: #F7F8FA;
  border-color: #F7F8FA;
  color: var(--gray);
  &:hover{
    background: #F7F8FA;
    border-color: #F7F8FA;
    color: var(--gray);
  }
}
.custom, .ptd-5.el-table, .custom.el-table{
  color: #4E5969;
  .has-gutter th{
    background-color: #e8e9ea;
    font-weight: 500;
    color: #1D2129;
  }
  .el-table__footer td{
    color: #1D2129;
  }
  .el-table__fixed-right{
    right: 0px !important;
    bottom: 9px !important;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10);
    &::before{
      height: 0;
    }
    th{
      background-color: #e8e9ea;
    }
    .is-leaf:not(.is-hidden), .operate {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }
  .el-table__body-wrapper.is-scrolling-none ~ .el-table__fixed-right{
    box-shadow: none;
    bottom: 0 !important;
  }
  .el-button--mini{
    margin: 2px;
    min-width: 70px;
    height: 28px;
    padding: 6px 8px;
  }
  .el-button--text{
    padding: 0;
  }
  .el-button--danger.is-plain{
    background: rgba(255, 84, 84, 0.1);
    border-color: rgba(255, 84, 84, 0.1);
    border: none;
    color: #FF5454;
  }
  .el-button--info.is-plain{
    background: #F2F3F5;
    border-color: #F2F3F5;
    border: none;
    color: #86909C;
  }
  .el-button--text.is-disabled{
    color: #E5E6EB;
  }
  .el-button + .pop, .pop + .pop, .pop + .el-button{
    margin-left: 10px;
  }
  .w-160{
    width: 160px;
  }
  .operate{
    cursor: pointer;
    > div + div{
      margin-left: 15px;
    }
  }
}
.pagination-left{
  top: 8px;
  left: 0;
}

/**
 * 自定义form租借样式
 */
.custom-form{
  h4{
    color: #1D2129;
  }
  .el-input__inner, .el-textarea__inner{
    height: 32px;
    border: none;
    border-radius: 2px;
    background: #F2F3F5;
    line-height: 32px;
    color: #1D2129;
  }
  .up-img{
    .el-form-item__label{
      margin-top: 30px;
    }
  }
  .el-form-item{
    margin-bottom: 15px;
  }
  .el-textarea__inner{
    height: initial;
  }
  .el-form-item__content{
    //line-height: 32px;
    .el-input-group{
      vertical-align: inherit;
    }
  }
  .el-form-item__label{
    position: relative;
    //line-height: 32px;
    &::before{
      position: absolute;
      left: -10px;
    }
  }
  .el-cascader{
    width: 100%;
  }
  .el-input-group__append{
    border: none;
    border-left: thin solid #e5e6eb;
    color: #1D2129;
  }
  .el-input-group__prepend{
    border: none;
    border-right: thin solid #e5e6eb;
  }
  .el-button--small{
    height: 32px;
  }
  .el-input__suffix, .el-select__caret{
    color: #4E5969 !important;
  }
  .el-input__icon{
    line-height: 32px;
  }
}

/**
 * 筛选公共样式
 */
.box-grey{
  height: 32px;
  background: #F2F3F5;
  border-radius: 2px;
  .el-range-separator{
    margin-right: 5px;
    font-size: 16px;
    line-height: 26px;
    color: var(--gray);
  }
  .range-day{
    width: inherit;
    border: none;
    background: none;
    .el-input__icon{
      line-height: 28px;
    }
    .el-range-input{
      height: 32px;
      background: none !important;
      text-align: left;
    }
    @media (min-width: 769px) {
      .el-range-input{
        width: 102px;
      }
    }
  }
}
.filter-btn_box{
  .el-button{
    padding: 8px 10px;
  }
}

.el-popover.el-popovers{
  padding: 0;
  .el-button--mini{
    min-width: 48px;
  }
}

.label-text{
  min-width: 95px;
  color: #86909C;
}
*:focus {
  outline: 0;
}
.el-drawer{
  padding-bottom: 66px;
  max-width: 80%;
  width: auto !important;
  .el-input-group__prepend{
    width: 100px;
  }
  .max-select.el-select, .max-select .el-select{
    width: 140px;
  }
  .el-date-editor.el-input{
    width: 100%;
  }
}
.el-drawer__header{
  margin-bottom: 20px;
  padding: 12px 16px;
  border-bottom: thin solid #e5e6eb;
  font-size: 16px;
  color: var(--black);
}
.el-drawer__body {
  overflow: auto;
  .el-form-item__label{
    color: #86909C;
  }
}
.el-drawer__container::-webkit-scrollbar{
  display: none;
}
