// sidebar
$menuText: #000000;
$menuActiveText: #ffffff;
$subMenuActiveText: rgba(255,255,255,1);
$menuActiveBg: #ca0414;

$menuBg: #ffffff;
$menuHover: rgba(255,255,255,.2);

$subMenuBg: rgba(255,255,255,0);
$subMenuHover: rgba(255,255,255,.1);

$sideBarWidth: 200px;

$webColor: #ff6800;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuActiveBg: $menuActiveBg;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  webColor: $webColor
}
